/* Fonts */
@font-face {
  font-family: avenir;
  src: url("../views/fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
  font-family: avenir-medium;
  src: url("../views/fonts/AvenirLTStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: avenir-black;
  src: url("../views/fonts/Avenir-Black.otf") format("opentype");
}

@font-face {
  font-family: roboto-slab;
  src: url("../views/fonts/RobotoSlab-Regular.ttf");
}

@font-face {
  font-family: besley-medium;
  src: url("../views/fonts/besleymed.otf") format("opentype");
}

.headlines {
  background-color: rgba(245, 245, 245);
  border-top: 5px solid #4df76e;
}

.headlines > h2 {
  font-family: avenir-black;
  margin: 0px;
  margin-left: 80px;
  color: #293b59;
  padding: 0px;
}

.headlines > #down-triangle {
  margin: 0px;
  padding: 0px;
  font-size: 50px;
  color: #4df76e;
  transform: translate(1.2em, -12px);
}

.articles-container {
  /* background-color: rgba(245, 245, 245, 80); */
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(90, 90, 90);
  padding-bottom: 60px;
}

.articles-container > .article {
  margin: 20px;
  margin-bottom: 5px;

  padding-left: 20px;
  border-left: 5px solid #4df76e;
  border-radius: 7px;
  width: 900px;
  /* color: #4df76e */
}

.articles-container > .article > .article-content {
  display: flex;
}

.articles-container > .article > .article-content > .article-thumbnail {
  margin-top: 5px;
}

.article-thumbnail > img {
  width: 130px;
  margin-right: 10px;
}

.articles-container > .article > .article-content > .article-info {
  display: flex;
  flex-direction: column;
}

.article-info > span {
  color: black;
}
/* .articles-container > h2 {
} */

/* 
.article > img {
  width: 700;
  height: 393;
}
 */

.article-info > a {
  text-decoration: none;
  color: #4d86f7;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
  font-family: roboto-slab;
}

.article-info > a:visited {
  color: #4d86f7;
}

.article-text {
  margin-left: 20px;
}

p#no-articles-found {
  margin-top: 40px;
  margin-bottom: 60px;
  font-family: avenir-medium;
}

p#article-description {
  font-family: avenir-medium;
}

span.headline {
  color: #293b59;
  font-family: avenir-black;
  padding-bottom: 4px;
}

b#timestamp {
  font-size: 14px;
  color: rgb(155, 155, 155);
  font-family: Arial, Helvetica, sans-serif;
}
