/* Fonts */
@font-face {
  font-family: avenir;
  src: url('../views/fonts/AvenirLTStd-Book.otf') format('opentype');
}

@font-face {
  font-family: avenir-medium;
  src: url('../views/fonts/AvenirLTStd-Medium.otf') format('opentype');
}

@font-face {
  font-family: avenir-black;
  src: url('../views/fonts/Avenir-Black.otf') format('opentype');
}

@font-face {
  font-family: roboto-slab;
  src: url('../views/fonts/RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: besley-medium;
  src: url('../views/fonts/besleymed.otf') format('opentype');
}

.headlines {
  background-color: #f0f0f0;
  border-top: 5px solid #4df76e;
}

.headlines > h2 {
  font-family: avenir-black;
  margin: 0px;
  margin-left: 80px;
  color: #293B59;
  padding: 0px;
}

.headlines > #down-triangle {
  margin: 0px;
  padding: 0px;
  font-size: 50px;
  color: #4df76e;
  transform: translate(1.2em, -12px);
}

.articles-container {
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(90, 90, 90);
}

.article {
  margin: 20px;
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  border-left: 5px solid #4df76e;
  width: 900px;
  /* color: #4df76e */
}

.article > span {
  color: black;
}
.articles-container > h2 {
}

/* 
.article > img {
  width: 700;
  height: 393;
}
 */

.article > a {
  text-decoration: none;
  color: #4d86f7;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 5px;
}

.article > a:visited {
  color: #4d86f7;
}

.article-text {
  margin-left: 20px;
}
