/* Fonts */
@font-face {
  font-family: avenir;
  src: url("../views/fonts/AvenirLTStd-Book.otf") format("opentype");
}

@font-face {
  font-family: avenir-medium;
  src: url("../views/fonts/AvenirLTStd-Medium.otf") format("opentype");
}

@font-face {
  font-family: avenir-black;
  src: url("../views/fonts/Avenir-Black.otf") format("opentype");
}

@font-face {
  font-family: roboto-slab;
  src: url("../views/fonts/RobotoSlab-Regular.ttf");
}
/* ----------------------------------------------------------------------------------- */
/* 
.disqus-container {
  padding-top: 50px;
  width: 60%;
  margin: auto;
} */

p.last-name {
  letter-spacing: 10px;
}

div.triptych {
  display: flex;
  height: 300px;
  margin-top: 0px;
  padding-top: 0px;
}

div.triptych-container {
  margin-top: 0px;
  padding-top: 0px;
}

div.triptych > div.portrait {
  background-color: #e84a3d;
  height: 100%;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  min-width: 25%;
}

div.triptych > div.portrait img {
  max-width: 300px;
  min-width: 100%;
  object-fit: cover;
}

div.triptych > div.info {
  width: 50%;
  background-color: white;
  height: 100%;
  padding-left: 50px;
}

div.info > p.first-name {
  font-family: roboto-slab;
  font-size: 30px;
  margin-top: 15px;
  margin-bottom: 0px;
}

div.info > p.last-name {
  font-family: roboto-slab;
  font-size: 45px;
  margin-top: 0px;
  margin-bottom: 12px;
  color: #4d86f7;
}

div.info > p,
div.social-media-div > p {
  color: #293b59;
  font-size: 17px;
  font-family: avenir;
  margin-top: 0px;
  margin-bottom: 0px;
}

div.social-media-bar {
  display: flex;
  margin-left: 50px;
  margin-top: -10px;
}

div.triptych > div.map {
  width: 25%;
  background-color: #293b59;
  height: 100%;
}

a > img.social-icon {
  height: 25px;
  margin-top: 20px;
  margin-right: 30px;
}

