/* Fonts */
@font-face {
  font-family: avenir;
  src: url('../views/fonts/AvenirLTStd-Book.otf') format('opentype');
}

@font-face {
  font-family: avenir-medium;
  src: url('../views/fonts/AvenirLTStd-Medium.otf') format('opentype');
}

@font-face {
  font-family: avenir-black;
  src: url('../views/fonts/Avenir-Black.otf') format('opentype');
}

@font-face {
  font-family: roboto-slab;
  src: url('../views/fonts/RobotoSlab-Regular.ttf');
}

@font-face {
  font-family: roboto-slab-bold;
  src: url('../views/fonts/RobotoSlab-Bold.ttf');
}

.official-card {
  display: inline-block;
  vertical-align: top;
  border: 2px solid #E84A3D;
  background-color: white;
  color: #142849;
  margin: 20px;
  width: 660px;
  height: 300px;
  font-family: avenir;
  font-size: 14px;
  word-wrap: break-word;
  line-height: 0.8;
  text-align: left;
}

.official-card a {
  color: #142849;
  
}

.official-card a:visited {
  color: #142849;
}

.official-content {
  float: left;
  padding-left: 10px;
  
}

#office-name {
  font-family: roboto-slab;
}

#office-name a {
  text-decoration: none;
}

#officials-name a {
  text-decoration: none;
  font-family: avenir-black;
  font-size: 18px;
}

#party {
  font-family: avenir-black;
}

#address {
  line-height: .2;
}

#mail {
  font-family: avenir-medium;
}

#phone-num {
  font-family: avenir-black;
}

#channels {
  font-family: avenir-medium;
  line-height: 0.2;
  word-wrap: break-word;
}

.image {
  float: left;
}
